<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>个人博客</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="scripts/jquery.jcarousel.pack.js"></script>
<script type="text/javascript" src="scripts/jquery.jcarousel.setup.js"></script>
</head>
<body id="top">
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1><a href="#">{{ page.bt }}</a></h1>
      <p>{{ page.xbt }}</p>
    </div>


{{ content }}

<div class="wrapper col4">
  <div id="footer">
    <div class="box1">
      <h2>欢迎来到我的博客！</h2>
      <img class="imgl" src="images/demo/imgl.gif" alt="" />
      <p>记得点赞记得点赞记得点赞记得点赞记得点赞记得点赞记得点赞记得点赞记得点赞记得点赞记得点赞记得点赞记得点赞记得点赞记得点赞记得点赞</p>
      <p>别忘了</p>
    </div>
    <div class="box contactdetails">
      <h2>记住了 !</h2>
      <ul>
        <li>某人</li>
        <li>某时 &amp; 某分</li>
        <li>某地</li>
        <li>邮政编码</li>
        <li>电话: xxxxx xxxxxxxxxx</li>
        <li>传真: xxxxx xxxxxxxxxx</li>
        <li>邮箱: xxx@xxx.com</li>
        <li class="last">某: <a href="#">简介</a></li>
      </ul>
    </div>
    <div class="box flickrbox">
      <h2>照片就别想看了!</h2>
      <div class="wrap">
        <div class="fix"></div>
        <div class="flickr_badge_image" id="flickr_badge_image1"><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></div>
        <div class="flickr_badge_image" id="flickr_badge_image2"><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></div>
        <div class="flickr_badge_image" id="flickr_badge_image3"><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></div>
        <div class="flickr_badge_image" id="flickr_badge_image4"><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></div>
        <div class="flickr_badge_image" id="flickr_badge_image5"><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></div>
        <div class="flickr_badge_image" id="flickr_badge_image6"><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></div>
        <div class="fix"></div>
      </div>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col5">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2011 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template from me</p>
    <br class="clear" />
  </div>
</div>
</body>
</html>
